* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background: #f7f7f9;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 45px;
  margin: 0 auto;
}
